@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    3535 Las Vegas Blvd S<br />
    Las Vegas, NV 89123<br />
    <abbr title="Phone">P:</abbr>
    425.761.3334
</address>

<address>
    <strong>Support:</strong> <a href="mailto:skepts@gmail.com">skepts@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:skepts@gmail.com">skepts@gmail.com</a>
</address>
