@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="splash photo">
    <div class="cuadro_intro_hover " style="background-color:#808080;">
        <p style="text-align:center; margin-top:20px;">
            <img src="~/Images/Bookstacks.jpg" width="2048" height="1025" alt="Stack of Books" class="img-responsive" />
        </p>
        <div class="caption">
            <div class="blur"></div>
            <div class="caption-text">
                <h1>
                    ShareMarks!
                </h1>
                <p>A bookmark sharing app.</p>
            </div>
        </div>
    </div>
</div>
